.root {
    -fx-font-family: "Monospaced";
}
.root:focused {
    -fx-border-color: black;
}

.text-area {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-family: "Monospaced";
    -fx-font-size: 20px;
    -fx-control-inner-background: #242628;
    -fx-border-color: #2B2D30;
}
.tab-pane *.tab-header-background{
    -fx-background-color: #2B2D30;
}

.button {
    -fx-font-size: 20px;
    -fx-background-color: #4D5156;
    -fx-border-color: grey;
    -fx-border-width: 1px;
    -fx-text-fill: white;
}

.list-cell {
    -fx-text-fill: #242628;
}

.combo-box-popup .list-cell {
    -fx-text-fill: #242628;
}

.table-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-control-inner-background: #242628;
    -fx-border-color: #2B2D30;
}

.table-view .column-header {
    -fx-background-color: #1E1F22; /* Column header background color */
    -fx-border-color: #1E1F22;
    -fx-border-width: 0.05%;
}

.table-view .cell {
    -fx-border-color: #2B2D30;
    -fx-border-width: 1px;
}

.split-pane .split-pane-divider {
    -fx-background-color: #2B2D30;
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 17px;
    -fx-background-color: #2B2D30;
}
.tab-pane .tab-label {
    -fx-text-fill: white;

}
.tab-pane .tab:selected {
    -fx-background-color: #4D5156;
}

.menu-item {
    -fx-background-color: #2B2D30;
    -fx-border-width: 2px;
    -fx-border-color: #2B2D30;
    -fx-text-fill: white;
}

.tab-pane {
    -fx-background-color: #2B2D30
}
.label {
    -fx-font-size: 20px;
    -fx-background-color: #242628;
    -fx-border-color: #1E1F22;
    -fx-border-width: 1px;
    -fx-text-fill: white;
}

.choice-box .combo-box-popup {
    -fx-border-color: red;
}