.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-size: 17px;
}
.text-area {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-family: "Monospaced";
    -fx-font-size: 20px;
}
.table-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.scroll-pane {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.label {
    -fx-font-family: "Monospaced";
    -fx-font-size: 20px;
}
.button {
    -fx-font-family: "Monospaced";
    -fx-font-size: 20px;
}
.text-field {
    -fx-font-family: "Monospaced";
    -fx-font-size: 20px;
}
.root {
    -fx-font-family: "Monospaced";
}
