.tab {
    -fx-background-color: #F7F8FA;
    -fx-border-color: #BDBEBE;
    -fx-pref-width: 85px;
    -fx-pref-height: 30px;
}


.tab:selected {
    -fx-background-color: #BDBEBE; /* Set background color for the selected tab */
    -fx-border-color: #BDBEBE; /* Set border color for the selected tab */
}

.tab:hover {
    -fx-background-color: #BDBEBE; /* Set background color for hovered tab */
}
